.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('IMAGES/Elephant.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5rem 0;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 8px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.content-tiles {
    margin: 3rem 0;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.tile-container h3{
    color: white;
}

.tile {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: 250px;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.tile p{
    color: var(--secondary-color);
}

.tile-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    padding: 1.5rem;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.tile:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tile:hover img {
    transform: scale(1.1);
}

.tile:hover .tile-overlay {
    transform: translateY(-250px);
}

@media (max-width: 768px) {
    .tile-container {
        grid-template-columns: 1fr;
    }
}